@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

/* GitHub */
.containerFive:hover {
  background-color: #d10c0c;
  transition-duration: .3s;
}

/* Discord */
.containerSix:hover {
  background-color: #7289da;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.article-bg {
  background-image: url('public/assets/img/login-img.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
}

.article-bgg {
  background-image: url('public/assets/img/register-logo.jpeg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
}

.article-transaction {
  background-image: url('public/assets/img/banner-transaction.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
}

.article-card {
  background-image: url('public/assets/img/card-fond.png');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  
}

.article-content {
  background-color: rgba(12, 12, 12, 0.9); /* Color de fondo negro con transparencia */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-content-card {
  background-color: rgba(12, 12, 12, 0.9); /* Color de fondo negro con transparencia */
  width: 100%;
  min-height: 100vh; /* Establece la altura mínima para ocupar toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}






